
#contact {
	position:relative;
	min-height:200px;
	padding:50px 0;
	background:#f7cc4b;
	.section-title {
		color:#FFF;
	}
	span {
		color: #222;
		font-size: 20px;
		font-weight: 400;
		line-height: 28px;
	}
	.contact-form {
		position:relative;
		width:90%;
		margin:50px auto;
		max-width: 800px;
		height:50px;
		::-webkit-input-placeholder {color:#fff;}
		::-moz-placeholder          {color:#fff;}
		:-ms-input-placeholder      {color:#fff;}
		input[type="text"] {
			position:relative;
			height:100%;
			width:39%;
			padding:5px;
			margin-right:5px;
			background:transparent;
			border: 2px solid white;
			border-radius: 1px;
			color: #FFF;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
		}
		input[type="email"] {
			position:relative;
			height:100%;
			width:39%;
			padding:5px;
			margin-right:5px;
			background:transparent;
			border: 2px solid white;
			border-radius: 1px;
			color: #FFF;
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 28px;
		}
		input[type="submit"] {
			position:relative;
			height:100%;
			width:18%;
			margin-top:10px;
			background:#000;
			border: 2px solid #000;
			border-radius: 2px;
			color: white;
			font-family: Roboto;
			@media screen and (min-width:640px) {
				font-size: 16px;
			}
			font-size: 10px;
			font-weight: 400;
			line-height: 28px;
			&:hover {
				cursor:pointer;
			}
		}
	}

}